<section class="container flex gap-6 pb-10">
        <div class=" w-full lg:w-2/3">
            <article>
                <SwiperContainer>
                    {{#each @estate.Pictures as |picture|}}

                        <SwiperSlide>
                            <div>
                                <img alt="House/appartment inside and outside" src={{picture.UrlLarge}}  class="relative h-full flex-1 rounded bg-cover"/>
                            </div>
                        </SwiperSlide>

                    {{/each}}
                </SwiperContainer>
                {{!-- <div style={{safe-string (concat "background-image: url('" @estate.Pictures.[0].UrlXXL "')" )}}  class="relative h-64 py-40 w-full rounded bg-cover">
                </div>
                <div class="flex h-32 justify-evenly gap-6 mt-6">
                   
                    <div style={{safe-string (concat "background-image: url('" @estate.Pictures.[2].UrlLarge "')" )}}  class="relative h-32 flex-1 rounded bg-cover"></div>
                    <div style={{safe-string (concat "background-image: url('" @estate.Pictures.[3].UrlLarge "')" )}}  class="relative h-32 flex-1 rounded bg-cover"></div>
                </div> --}}
                <div>
                    <div class="flex w-full flex justify-between items-end pt-6">
                        <div>
                            <span class="text-3xl leading-none">{{@estate.City}}</span> <span class="text-sm ml-2">ref {{@estate.EstateID}}</span>
                        </div>
                        <span class="text-3xl leading-none">{{ parse-price @estate.Price }} €</span>
                    </div>
                    <div class="text-gray-500 pb-2 font-bold">
                        {{category-converter @estate.CategoryId}} {{@estate.Purposes.[0].Name}}
                    </div>
                    <div class="mt-6 flex justify-between">
                        <ul class="flex gap-3">
                            <li class="flex justify-between bg-light-gray py-3 px-5 w-20">
                                <img src="assets/vector/bath.svg" alt="icon of a shower">
                                <span>{{@estate.BathRooms}}</span>
                            </li>
                             <li class="flex justify-between bg-light-gray py-3 px-5 w-20">
                                <img src="assets/vector/bed.svg" alt="icon of a shower">
                                <span>{{@estate.Rooms}}</span>
                            </li> 
                            <li class="flex justify-between bg-light-gray py-3 px-5 w-auto">
                                <img src="assets/vector/area.svg" alt="icon of a shower">
                                <span>{{@estate.Area}} m²</span>
                            </li>
                        </ul>
                        <div class="flex gap-5">
                            <button type="button" class="px-12 py-2 shadow rounded" {{on 'click' this.showList}}>Share</button>
                            <button type="button" class="px-6 py-2 shadow rounded  flex gap-3 items-center hover:bg-red-700 {{if this.favoriteActive "bg-red-700"  "bg-grey"}}" {{on 'click' (fn this.addRemove @estate.EstateID)}}><img src="/assets/vector/heart.svg" alt="white outline of a heart"> <span class="text-white">Favorite</span> </button>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                
            </article>
        </div>

        <div class="w-1/3 bg-light-gray hidden lg:block">
            Map comes here
        </div>

    </section>
{{!-- 
<div class="min-h-screen container">
    PhotoSwipe:
    <PhotoSwipe @items={{@estate.Pictures}} as |photoswipe|>
       
            <img class="h-64 w-64" src={{@estate.Pictures.[0].UrlLarge}} {{on 'click' (fn photoswipe.actions.open (hash index=@index)) }} alt="smth"/>

    </PhotoSwipe>
</div> --}}


