<div class="bg-dark-gray text-white relative z-20 hidden sm:block">
    <div class="container m-auto flex justify-between items-center">
      <address class="flex ">
        <button type="button" class="py-1 px-4 m-2 ml-0 border bg-gray-900 border-gray-800 text-gray-200 text-xs md:text-sm  hover:text-gray-800 hover:bg-gray-200 anim">+32 (2) 770 31 21</button>
        <button type="button" class="py-1 px-4 m-2 ml-0 border bg-gray-900 border-gray-800 text-gray-200 text-xs md:text-sm  hover:text-gray-800 hover:bg-gray-200 anim">info@alphabitat.be</button>
      </address>

      <div class="flex items-center">
        <LinkTo @route="estimation" type="button" class="py-1 px-4 m-2 ml-0 bg-red-600 text-gray-100 font-bold text-sm hidden md:block hover:bg-blue-700 hover:text-white anim">{{t "header.sell"}}</LinkTo>
        <ul class="flex text-sm cursor-pointer border-l ml-3 pl-3 ">
            <li {{on 'click' (fn this.setLang "en-gb")}} class="{{if (eq this.currentLang "en-gb") "bg-blue-700 font-bold" }} bg-gray-900 py-1 px-4 ml-1 hover:bg-white hover:text-gray-800 anim">en</li>
            <li {{on 'click' (fn this.setLang "fr-be")}} class="{{if (eq this.currentLang "fr-be") "bg-blue-700 font-bold" }} bg-gray-900 py-1 px-4 ml-1 hover:bg-white hover:text-gray-800 anim">fr</li>
            <li {{on 'click' (fn this.setLang "nl-be")}} class="{{if (eq this.currentLang "nl-be") "bg-blue-700 font-bold" }} bg-gray-900 py-1 px-4 ml-1 hover:bg-white hover:text-gray-800 anim">nl</li>
        </ul>
    </div>

  </div>
</div>