<nav class="relative z-20 bg-white shadow sm:shadow-xs fixed sm:relative magic-anim">
  <div class="container m-auto flex justify justify-between items-center">
    <LinkTo @route="home">
      <img src="../../assets/pixel/logo-light.png" class="h-10 md:h-12 my-2" alt="Alphabitat triangle symbol">
    </LinkTo>

    <ul class="font-bold hidden lg:flex text-gray-900 stroke anim">
      <li>
        <LinkTo @route="home" class="mx-2 py-2 px-4">{{t "nav.home"}}</LinkTo>
      </li>

      <li>
        <LinkTo @route="search" @query={{hash buyRent=1}} class="mx-2 py-2 px-4">{{t "nav.sale"}}</LinkTo>

      </li>

      <li>
        <LinkTo @route="search" @query={{hash buyRent=2}} class="mx-2 py-2 px-4">{{t "nav.rent"}}</LinkTo>
      </li>

      <li>
        <LinkTo @route="estimation" class="mx-2 py-2 px-4">{{t "nav.estimation"}}</LinkTo>
      </li>

      <li>
        <LinkTo @route="contact" class="mx-2 py-2 px-4">{{t "nav.contact"}}</LinkTo>
      </li>

      <li class="nav-fav">
        <LinkTo @route="favorites" class="ml-2 py-2 pl-4 ">{{t "nav.favorites"}}</LinkTo>
      </li>
    </ul>
    {{#if this.openState}}
    <div class="w-full absolute h-screen flex flex-col right-0 top-0 z-50">
      <div class="h-12 my-1" {{on 'click' this.toggleMenu}} ></div>
      <ul class="flex justify-center py-2 bg-light-gray border ">
        <li>
          <button type="button" {{on 'click' (fn this.setLang "en-us")}} class="{{if (eq this.currentLang "en-us") "bg-blue-700 font-bold text-white" "text-gray-700" }} bg-white py-2 w-24 bg-gray-200  text-center mx-2">EN</button>
        </li>
        <li>
          <button type="button" {{on 'click' (fn this.setLang "fr-be")}} class="{{if (eq this.currentLang "fr-be") "bg-blue-700 font-bold text-white" "text-gray-700"}} bg-white py-2 w-24 bg-gray-200  text-center mx-2">FR</button>
        </li>
        <li>
          <button type="button" {{on 'click' (fn this.setLang "nl-be")}} class="{{if (eq this.currentLang "nl-be") "bg-blue-700 font-bold text-white"  "text-gray-700"}} bg-white py-2 w-24 bg-gray-200  text-center mx-2">NL</button>
        </li>
      </ul>
      <ul class="w-full  flex-1  bg-white p-5 font-bold text-md" {{on 'click' this.toggleMenu}}>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3 border-b" @route="home">{{t "nav.home"}}</LinkTo>
        </li>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3 border-b" @route="search" @query={{hash buyRent=1}}>{{t "nav.sale"}}</LinkTo>
        </li>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3 border-b" @route="search" @query={{hash buyRent=2}}>{{t "nav.rent"}}</LinkTo>
        </li>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3 border-b" @route="estimation">{{t "nav.estimation"}}</LinkTo>
        </li>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3 border-b" @route="contact">{{t "nav.contact"}}</LinkTo>
        </li>
        <li>
          <LinkTo class="block w-full p-4 pl-0 my-3" @route="favorites">{{t "nav.favorites"}}</LinkTo>
        </li>
      </ul>
      <ul class="flex items-center justify-center bg-gray-900 py-2">
        <li><button type="button" class="py-1 px-4 m-2 ml-0 border-r border-gray-700 bg-gray-900 text-gray-200 ">+32 (2)
            770 31 21</button></li>
        <li><button type="button" class="py-1 px-4 m-2 ml-0 bg-gray-900 text-gray-200 ">info@alphabitat.be</button></li>
      </ul>
    </div>
    {{/if}}
    <button type="button" class="border rounded bg-light-gray lg:hidden cursor-pointer" {{on 'click' this.toggleMenu}}>
      <img src="/assets/vector/menu.svg" class="h-14 p-2 " alt="menu opening button icon">
    </button>
  </div>

</nav>