    
    
<LinkTo @route='property' @query={{hash estateID=@item.EstateID}} class="rounded-lg bg-white b-gray hover:shadow-xl transform hover:-translate-y-1 p-2 anim focus:border-blue-700 outline-none   ">

    <div style={{safe-string (concat "background-image: url('" @item.Pictures.[0].UrlLarge "')" )}} class="relative h-64 w-full rounded-lg bg-cover">
        <div class="absolute bottom-0 right-0 mr-0 mb-2 text-xl text-white px-4 py-1 font-bold bg-black rounded-l-lg">{{@item.Currency}} {{parse-price @item.Price}}</div>
    </div>
    
    <div class="p-3">
        <h3 class="text-xl font-bold">{{@item.City}}</h3>
        <div class="text-sm text-gray-600 pb-2 font-bold">{{this.propertyType}} {{@item.Purposes.[0].Name}}</div>

        <div class="flex py-2">
          {{#if (and (not-eq @item.Rooms 0) (not-eq @item.Rooms 0))}}
            <div class="inline-block pr-3 text-sm text-gray-600 border-r flex items-end">
                <img src="../../assets/vector/bed.svg" alt="icon of a bed" class="mr-4">
                <span>{{@item.Rooms}}</span> 
                
            </div>
          {{/if}}

           {{#if (and (not-eq @item.BathRooms 0) (not-eq @item.BathRooms null))}}
            <div class="inline-block px-3 text-sm text-gray-600 border-r flex items-end">
                <img src="../../assets/vector/bath.svg" alt="icon of a bath" class="mr-4 h-5">
                <span> {{@item.BathRooms}} </span>
            </div>
          {{/if}}

           {{#if (and (not-eq @item.Area 0) (not-eq @item.Area null))}}
            <div class="inline-block px-3 text-sm text-gray-600 border-r flex items-end">
                <img src="../../assets/vector/area.svg" alt="icon of a bath" class="mr-4 h-5">
                <span>{{@item.Area}} m²</span>
            </div>
          {{/if}}

        </div>
    </div>
</LinkTo>