<section class="w-full h-full bg-hero ">
    <div {{ on 'click' this.toggleAll}} class="absolute transparent top-0 left-0 h-full w-full">

    </div>
    <div class="container z-10 relative">
        <article class="flex justify-center py-24 flex flex-col">
            <h1 class="text-3xl md:text-5xl text-center pb-12 font-bold text-gray-100 " {{ on 'click' this.toggleAll}}>
                Real Estate Agency Woluwe-Saint-Pierre</h1>
            <div class="flex justify-center">
                <div class="relative">
                    <button type="button" {{ on 'click' this.togglePurpose}}
                        class="py-5 px-3 md:px-6 bg-white border flex justify-between w-32 md:w-64 font-bold hover:bg-blue-100 ">{{this.purposeState}}<img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>
                    {{#if this.purpose}}

                    <div class="triangle absolute w-64 mt-2 shadow-xl p-5 flex flex-col bg-white font-bold rounded">

                        <label class="inline-flex items-center mt-3">
                            <input type="radio" name="purpose" class="h-5 w-5 text-gray-600" value="1"
                                checked={{this.radioForSale}} {{ on 'click' (fn this.setPurpose 'For sale')}} /><span
                                class="ml-4 text-gray-700">For sale</span>
                        </label>
                        <label class="inline-flex items-center mt-3">
                            <input type="radio" name="purpose" class="h-5 w-5 text-gray-600" value="2"
                                checked={{this.radioForRent}} {{ on 'click' (fn this.setPurpose 'For rent')}} /><span
                                class="ml-4 text-gray-700">For rent</span>
                        </label>

                    </div>
                    {{/if}}
                </div>
                <div class="relative">
                    <button type="button" {{ on 'click' this.togglePrice}}
                        class="py-5 px-6 bg-white border xl:flex justify-between w-64 font-bold hidden  hover:bg-blue-100 "><span>Price</span>
                        <img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>
                    
                    <div class="triangle absolute mt-2 shadow-xl p-5 flex justify-between bg-white font-bold rounded {{if this.price "flex" "hidden"}}">
                        <div class="w-48 mr-6">

                            <label for="price" class="block text-sm text-gray-800">min.
                            </label>

                            <select name="min-budget" {{on 'change' this.updateMinBudget}} class="form-Input block w-full p-2 mt-2 border rounded appearance-none">
                                {{#if this.radioForRent }}
                                    <option default="" value="0">Min</option>
                                    <option value="500" >€ 500</option>
                                    <option value="500" >€ 750</option>
                                    <option value="1000" >€ 1000</option>
                                    <option value="1250" >€ 1250</option>
                                    <option value="1500" >€ 1500</option>
                                    <option value="1750" >€ 1750</option>
                                    <option value="2000" >€ 2000</option>
                                    <option value="2250" >€ 2250</option>
                                    <option value="2500" >€ 2500</option>
                                    <option value="2750" >€ 2750</option>
                                    <option value="3000" >€ 3000</option>
                                    <option value="3250" >€ 3250</option>
                                    <option value="3500" >€ 3500</option>
                                    <option value="3750" >€ 3750</option>
                                {{/if}}

                                {{#if this.radioForSale }}
                                
                                <option default="" value="0">Min</option>
                                <option value="100000" >€ 100 000</option>
                                <option value="150000" >€ 150 000</option>
                                <option value="200000" >€ 200 000</option>
                                <option value="250000" >€ 250 000</option>
                                <option value="300000" >€ 300 000</option>
                                <option value="350000" >€ 350 000</option>
                                <option value="400000" >€ 400 000</option>
                                <option value="450000" >€ 450 000</option>
                                <option value="500000" >€ 500 000</option>
                                <option value="550000" >€ 550 000</option>
                                <option value="600000" >€ 600 000</option>
                                <option value="650000" >€ 650 000</option> 

                                {{/if}}
                    
                            </select>
                        </div>
                        <div class="w-48">
                            <label for="price" class="block text-sm text-gray-800">max. </label>
                            <select name="max-budget" {{on 'change' this.updateMaxBudget}} class="form-Input block w-full p-2 mt-2 border rounded appearance-none">
                                {{#if this.radioForRent }}
                                
                                <option default="" value="9999999">Max</option>
                                <option value="500" >€ 500</option>
                                <option value="500" >€ 750</option>
                                <option value="1000" >€ 1000</option>
                                <option value="1250" >€ 1250</option>
                                <option value="1500" >€ 1500</option>
                                <option value="1750" >€ 1750</option>
                                <option value="2000" >€ 2000</option>
                                <option value="2250" >€ 2250</option>
                                <option value="2500" >€ 2500</option>
                                <option value="2750" >€ 2750</option>
                                <option value="3000" >€ 3000</option>
                                <option value="3250" >€ 3250</option>
                                <option value="3500" >€ 3500</option>
                                <option value="3750" >€ 3750</option>
                                {{/if}}

                                {{#if this.radioForSale }}
                                
                                <option default="" value="9999999">Max</option>
                                <option value="100000" >€ 100 000</option>
                                <option value="150000" >€ 150 000</option>
                                <option value="200000" >€ 200 000</option>
                                <option value="250000" >€ 250 000</option>
                                <option value="300000" >€ 300 000</option>
                                <option value="350000" >€ 350 000</option>
                                <option value="400000" >€ 400 000</option>
                                <option value="450000" >€ 450 000</option>
                                <option value="500000" >€ 500 000</option>
                                <option value="550000" >€ 550 000</option>
                                <option value="600000" >€ 600 000</option>
                                <option value="650000" >€ 650 000</option> 
                                <option value="700000" >€ 700 000+</option> 

                                {{/if}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <button type="button" {{ on 'click' this.toggleRegion}}
                        class="py-5 px-3 md:px-6  bg-white border flex justify-between w-32 md:w-64 font-bold  hover:bg-blue-100 "><span>Region</span>
                        <img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>
                    {{#if this.region}}
                    <div class="triangle absolute w-64 mt-2 shadow-xl p-5 flex flex-col bg-white font-bold rounded">

                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="1,2,3,4,5" class="h-5 w-5 text-gray-600" @checked={{this.cbRegionAll}}
                                {{ on 'click' (fn this.verifyRegion 'cbRegionAll')}} /><span
                                class="ml-4 text-gray-700">All</span>
                        </label>
                        <div class="w-full border-b py-2"></div>

                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="1" class="h-5 w-5 text-gray-600" @checked={{this.cbBrux}}
                                {{ on 'click' (fn this.verifyRegion 'cbBrux')}} /><span
                                class="ml-4 text-gray-700">Brussels</span>
                        </label>
                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="2" class="h-5 w-5 text-gray-600" @checked={{this.cbFlem}}
                                {{ on 'click' (fn this.verifyRegion 'cbFlem')}} /><span
                                class="ml-4 text-gray-700">Flemish Brabant</span>
                        </label>
                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="3" class="h-5 w-5 text-gray-600" @checked={{this.cbWall}}
                                {{ on 'click' (fn this.verifyRegion 'cbWall')}} /><span
                                class="ml-4 text-gray-700">Walloon Brabant</span>
                        </label>
                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="4" class="h-5 w-5 text-gray-600" @checked={{this.cbFlan}}
                                {{ on 'click' (fn this.verifyRegion 'cbFlan')}} /><span class="ml-4 text-gray-700">East
                                Flanders</span>
                        </label>
                        <label class="inline-flex items-center mt-3">
                            <Input @type="checkbox" value="5" class="h-5 w-5 text-gray-600" @checked={{this.cbOther}}
                                {{ on 'click' (fn this.verifyRegion 'cbOther')}} /><span
                                class="ml-4 text-gray-700">Other</span>
                        </label>
                    </div>
                    {{/if}}
                </div>
                <LinkTo type="button" @route="search" @query={{hash buyRent=this.buyRent minPrice=this.minBudget maxPrice=this.maxBudget regions=this.regionList}} class="py-5 px-5 md:px-12 bg-red-600 font-bold text-white hover:bg-blue-600 anim" {{ on 'click' this.toggleAll}}>
                    Search
                </LinkTo>
            </div>
            <div class="flex justify-center mt-6 " >
                <LinkTo  @route="search" {{ on 'click' this.toggleAll}}
                    class="font-bold text-gray-100 border px-6 py-2 border-gray-500 hover:bg-blue-600 anim ">Advanced
                    search</LinkTo >
            </div>

        </article>
    </div>
</section>