<div class="flex justify-center flex-col gap-4 md:gap-0 md:flex-row"  {{on-click-outside this.Dropdown.toggleAll}}>

    {{!-- PURPOSE SELECTOR --}}
    <div class="relative">
        <button type="button" {{ on 'click' this.Dropdown.togglePurpose}}
            class="py-5 px-3 md:px-6 bg-white border flex justify-between w-full md:w-64 font-bold hover:bg-blue-100 ">
            {{#if (eq this.Purpose.buyRent 1)}} 
              {{t "nav.sale"}}
            {{else}}
              {{t "nav.rent"}}
            {{/if}}
            <img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>

        {{!-- Component --}}
        <div class={{if this.Dropdown.purpose "flex" "hidden"}}>
            <Home::QuickSearch::PurposeDropdown @purpose={{this.Purpose}}  @resetBudget={{this.Price.resetBudget}} />
        </div>

    </div>

  {{!-- PRICE SELECTOR --}}
    <div class="relative hidden md:block">
        <button type="button"  {{ on 'click' this.Dropdown.togglePrice}}
            class="py-5 px-6 bg-white border xl:flex justify-between w-64 font-bold hidden  hover:bg-blue-100 "><span>{{t "search.filter.price"}}</span>
            <img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>

            {{!-- Component --}}
            <div class="{{if this.Dropdown.price "flex" "hidden"}}">
                <Home::QuickSearch::PriceDropdown @purpose={{this.Purpose.buyRent}} @priceClass={{this.Price}} />
            </div>
            
    </div>

    {{!-- REGION SELECTOR --}}
    <div class="relative">
        <button type="button"  {{ on 'click' this.Dropdown.toggleRegion}}
            class="py-5 px-3 md:px-6  bg-white border flex justify-between w-full md:w-64 font-bold  hover:bg-blue-100 "><span>{{t "search.filter.region"}}</span>
            <img src="/assets/vector/down-arrow-black.svg" alt="Black down pointing arrow"></button>

        {{!-- Component --}}
        <div class={{if this.Dropdown.region "flex" "hidden"}}>
            <Home::QuickSearch::RegionDropdown @region={{this.Region}} @cbAll={{this.Region.cbRegionAll}} @cbBrux={{this.Region.cbBrux}} @cbFlem={{this.Region.cbFlem}} @cbWall={{this.Region.cbWall}} @cbFlan={{this.Region.cbFlan}} @cbOther={{this.Region.cbOther}}/>
        </div>

    </div>
        <LinkTo type="button" @route="search"
        @query={{hash buyRent=this.Purpose.buyRent minPrice=(if (eq this.Price.minBudget "") null (to-num this.Price.minBudget)) maxPrice=(if (eq this.Price.maxBudget "") null (to-num this.Price.maxBudget)) regions=this.Region.list}}
        class="py-5 px-10 md:px-12 bg-red-600 font-bold text-white hover:bg-blue-600 anim"
        >
        {{t "home.search"}}
    </LinkTo>
</div>