<div class="triangle absolute mt-2 shadow-xl p-5 z-50 flex justify-between bg-white font-bold rounded">
    <div class="w-48 mr-6 relative">

        <label for="price" class="block text-sm text-gray-800">min.
        </label>

        <PowerSelect
          @onChange={{@priceClass.updateMinBudget}}
          @options={{if (eq @purpose 1 ) @priceClass.buyList @priceClass.rentList}}
          @selected={{@priceClass.minBudget}}
          @placeholder="min"
          as |price| >
          € {{price}}

        </PowerSelect>

    </div>
    <div class="w-48 relative">
        <label for="price" class="block text-sm text-gray-800">max. </label>

          <PowerSelect
          @onChange={{@priceClass.updateMaxBudget}}
          @options={{if (eq @purpose 1 ) @priceClass.buyList @priceClass.rentList}}
          @selected={{@priceClass.maxBudget}}
          @placeholder="max"
          as |price| >
          € {{price}}

        </PowerSelect>

    </div>
</div>