 <div class="triangle absolute w-64 mt-2 flex z-50 shadow-xl p-5 flex-col bg-white font-bold rounded ">

    <label class="inline-flex items-center mt-3">
        <input type="radio" name="purpose" class="h-5 w-5 text-gray-600" {{on 'click' (set @purpose.buyRent 1)}} {{on 'change' @resetBudget}}
            checked={{if (eq @purpose.buyRent 1) true}} /><span
            class="ml-4 text-gray-700">For sale</span>
    </label>

    <label class="inline-flex items-center mt-3">
        <input type="radio" name="purpose" class="h-5 w-5 text-gray-600"  {{on 'click' (set @purpose.buyRent 2)}} {{on 'change' @resetBudget}}
            checked={{if (eq @purpose.buyRent 2) true }}/><span
            class="ml-4 text-gray-700">For rent</span>
    </label>

</div>