<section
    class=" fixed top-0 w-full xl:block xl:relative h-full left-0 z-30 xl:w-1/3 xl:mt-6 py-6 px-4 font-bold xl:rounded pb-32 xl:pb-12 overflow-scroll xl:overflow-hidden  {{if this.filterState "hidden" "block"}}">
    <div class=""></div>
    <div class="md:container">
        <div class="flex justify-between items-center border-b pb-4">
            <h1 class="text-2xl text-gray-800">Filter</h1>
            <div class="flex">
                <LinkTo type="reset" @route="search" @query={{null}}
                    class="bg-gray-200 text-gray-900 text-base font-bold py-2 px-5 rounded hover:bg-gray-800 hover:text-white anim">Reset
                    filter</LinkTo>
                <button type="button" {{on 'click' this.MobileFilter.toggleFilter}}
                    class="bg-gray-200 text-gray-900 text-base font-bold py-2 px-5 rounded block xl:hidden ml-3"><img
                        src="/assets/vector/close.svg" alt="Black close icon" ></button>

            </div>
        </div>

        <div class="mt-6">
            <h2 class="text-gray-600 py-2">Purpose</h2>
            <div class="flex flex-col pl-2 ">
                <label class="inline-flex items-center mt-3">
                    <input type="radio" name="purpose" checked={{if (not-eq @query.buyRent "2") true false}}
                        {{on "change" (fn @refetch "buyRent" 1)}} class="h-5 w-5 text-gray-600 "><span
                        class="ml-4 text-gray-500">For sale</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="radio" name="purpose" checked={{if (eq @query.buyRent "2") true false}}
                        {{on "change" (fn @refetch "buyRent" 2)}} class="h-5 w-5 text-gray-600"><span
                        class="ml-4 text-gray-500">For rent</span>
                </label>

            </div>
        </div>

    {{!-- <div class="mt-6">
        <h2 class="text-gray-600 py-3 flex items-end "><img src="/assets/vector/euro.svg" alt="bed icon" class="mr-2 opacity-50 h-5"> <span class="leading-tight"> Price </span></h2>
        <div class="flex justify-between item-center">
                <select class="border w-5/12 py-2 px-2 rounded appearance-none" name="" id="" {{on 'change' (fn  "minPrice")}}>
                        <option value="0">Min</option>

                        {{#if (not-eq @query.minPrice "0")}}
                             <option value={{@query.minPrice}} selected class="hidden">€ {{@query.minPrice}}</option>
                        {{/if}}
                        
                     {{#if (if (eq @query.buyRent "2") true false) }}

                        <option value="500" >€ 500</option>
                        <option value="500" >€ 750</option>
                        <option value="1000" >€ 1000</option>
                        <option value="1250" >€ 1250</option>
                        <option value="1500" >€ 1500</option>
                        <option value="1750" >€ 1750</option>
                        <option value="2000" >€ 2000</option>
                        <option value="2250" >€ 2250</option>
                        <option value="2500" >€ 2500</option>
                        <option value="2750" >€ 2750</option>
                        <option value="3000" >€ 3000</option>
                        <option value="3250" >€ 3250</option>
                        <option value="3500" >€ 3500</option>
                        <option value="3750" >€ 3750</option>
                    {{/if}}

                    {{#if (if (eq @query.buyRent "1") true false) }}
                    

                    <option value="100000" >€ 100 000</option>
                    <option value="150000" >€ 150 000</option>
                    <option value="200000" >€ 200 000</option>
                    <option value="250000" >€ 250 000</option>
                    <option value="300000" >€ 300 000</option>
                    <option value="350000" >€ 350 000</option>
                    <option value="400000" >€ 400 000</option>
                    <option value="450000" >€ 450 000</option>
                    <option value="500000" >€ 500 000</option>
                    <option value="550000" >€ 550 000</option>
                    <option value="600000" >€ 600 000</option>
                    <option value="650000" >€ 650 000</option> 

                    {{/if}}
                    
                </select>

                <span class="text-gray-600 leading-10">to</span>

                <select class="border w-5/12  py-2 px-2 rounded appearance-none" {{on 'change' (fn this.invokeRefetch "maxPrice")}}>
                     <option default="" value="9999999">Max</option>

                    {{#if (not-eq @query.maxPrice "9999999")}}
                            <option value={{@query.maxPrice}} selected class="hidden">€ {{@query.maxPrice}}</option>
                    {{/if}}

                    {{#if (if (eq @query.buyRent "2") true false) }}
                            
        
                    <option value="500" >€ 500</option>
                    <option value="500" >€ 750</option>
                    <option value="1000" >€ 1000</option>
                    <option value="1250" >€ 1250</option>
                    <option value="1500" >€ 1500</option>
                    <option value="1750" >€ 1750</option>
                    <option value="2000" >€ 2000</option>
                    <option value="2250" >€ 2250</option>
                    <option value="2500" >€ 2500</option>
                    <option value="2750" >€ 2750</option>
                    <option value="3000" >€ 3000</option>
                    <option value="3250" >€ 3250</option>
                    <option value="3500" >€ 3500</option>
                    <option value="3750" >€ 3750</option>
                    {{/if}}

                    {{#if (if (eq @query.buyRent "1") true false) }}
                    
                    <option value="100000" >€ 100 000</option>
                    <option value="150000" >€ 150 000</option>
                    <option value="200000" >€ 200 000</option>
                    <option value="250000" >€ 250 000</option>
                    <option value="300000" >€ 300 000</option>
                    <option value="350000" >€ 350 000</option>
                    <option value="400000" >€ 400 000</option>
                    <option value="450000" >€ 450 000</option>
                    <option value="500000" >€ 500 000</option>
                    <option value="550000" >€ 550 000</option>
                    <option value="600000" >€ 600 000</option>
                    <option value="650000" >€ 650 000</option> 
                    <option value="700000" >€ 700 000+</option> 

                    {{/if}}
                </select>
        </div>
    </div> --}}

        <div class="mt-6">
            <h2 class="text-gray-600 py-2">Property Type</h2>
            <div class="flex flex-col pl-2 ">

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "1") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Houses</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "2") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Flats</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "3") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Plots</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "4") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Offices</span>
                </label>
                
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "5") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Stores</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "6") (fn @refetch "category" this.Category.categoryList))}}>
                    <span
                        class="ml-4 text-gray-500">Industrial</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Category.updateList "7") (fn @refetch "category" this.Category.categoryList))}}>
                    <span class="ml-4 text-gray-500">Garage & Parking lots</span>
                </label>

            </div>
        </div>

        {{!-- <div class="mt-6">
            <h2 class="text-gray-600 py-2">Region</h2>
            <div class="flex flex-col pl-2 ">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Region.updateList "1") (fn @refetch "regions" this.Region.regionList))}}>
                    <span class="ml-4 text-gray-500">Brussels</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Region.updateList "2") (fn @refetch "regions" this.Region.regionList))}}>
                    <span class="ml-4 text-gray-500">Flemish Brabant</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Region.updateList "3") (fn @refetch "regions" this.Region.regionList))}}>
                    <span class="ml-4 text-gray-500">Walloon Brabant</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Region.updateList "4") (fn @refetch "regions" this.Region.regionList))}}>
                    <span class="ml-4 text-gray-500">East Flanders</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600" {{on "change" (pipe (fn this.Region.updateList "5") (fn @refetch "regions" this.Region.regionList))}}>
                    <span class="ml-4 text-gray-500">Other</span>
                </label>
            </div>
        </div> --}}

        <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end mb-2"> <img src="/assets/vector/bed.svg" alt="bed icon"
                    class="mr-2 opacity-50"> <span class="leading-none"> Bedrooms </span></h2>
            <div class="flex justify-start">
                <div class=" w-1/2 flex items-center justify-between">
                    <button type="button" {{ on 'click' (pipe (fn this.Bed.decrement) (fn @refetch "minBed" this.Bed.bedrooms)) }}
                        class="{{if this.Bed.minBed "opacity-25 cursor-not-allowed" }}">
                        <img src="/assets/vector/substract.svg" class="h-8 opacity-50 " alt="Black substract icon">
                    </button>
                    <div class="font-bold text-xl">
                        > {{this.Bed.bedrooms}}
                    </div>
                    <button type="button" {{ on 'click' (pipe (fn this.Bed.increment) (fn @refetch "minBed" this.Bed.bedrooms)) }}
                        class="{{if this.Bed.maxBed "opacity-25 cursor-not-allowed" }}">
                        <img src="/assets/vector/add.svg" class="h-8 opacity-50 " alt="Black add icon">
                    </button>
                </div>
            </div>
        </div>


        <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end  mb-2"><img src="/assets/vector/bath.svg" alt="bed icon"
                    class="mr-2 opacity-50"> <span class="leading-none"> Bathrooms </span></h2>
            <div class="flex justify-start">
                <div class=" w-1/2 flex items-center justify-between">
                    <button type="button"  {{ on 'click' (pipe (fn this.Bath.decrement) (fn @refetch "minBath" this.Bath.bathrooms)) }}
                        class="{{if this.Bath.minBath "opacity-25 cursor-not-allowed" }}">
                        <img src="/assets/vector/substract.svg" class="h-8 opacity-50 " alt="Black substract icon">
                    </button>
                    <div class="font-bold text-xl">
                        > {{this.Bath.bathrooms}}
                    </div>
                    <button type="button"  {{ on 'click' (pipe (fn this.Bath.increment) (fn @refetch "minBath" this.Bath.bathrooms)) }}
                        class="{{if this.Bath.maxBath "opacity-25 cursor-not-allowed" }}">
                        <img src="/assets/vector/add.svg" class="h-8 opacity-50" alt="Black add icon">
                    </button>
                </div>
            </div>
        </div>

        <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end">
                <img src="/assets/vector/area.svg" alt="bed icon" class="mr-2 opacity-50"> 
                <span class=""> Area </span>
            </h2>

            <div class="flex justify-start items-center">
                <div class=" py-3 px-2 rounded flex-1">
                    <Input type="range" min="10" max="300" step="10" class="w-full anim" {{on 'change' this.debug}} @value={{this.Area.minArea }} {{on 'change' (fn @refetch 'minArea' this.Area.minArea)}}/>
                </div>
                <div class="b-gray py-2 px-3 rounded">> {{this.Area.minArea}} m² </div>
            </div>
                

        {{!-- <div class="mt-6">
            <h2 class="text-gray-600 pb-2">Options</h2>
            <div class="flex flex-col pl-2 ">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Garage</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Garden</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span
                        class="ml-4 text-gray-500">Furnished</span>
                </label>
            </div>


        </div> --}}
        </div>
    </div>

</section>

<div class="fixed w-full  bottom-0 container flex justify-center items-center xl:hidden z-50">
    <button type="button" class="z-50 md:w-1/3 md:rounded-full w-full mb-2 py-4 shadow-xl font-bold text-gray-100 rounded anim {{if this.MobileFilter.filterState "bg-red-600  " "bg-blue-600  "}}" {{on 'click' this.MobileFilter.toggleFilter}}>{{if this.MobileFilter.filterState "Filter" "Search"}}</button>
</div>
