<section
  class="fixed top-0 w-full xl:block xl:relative h-full left-0 z-30 xl:w-1/3 xl:mt-6 py-6 px-4 font-bold xl:rounded pb-32 xl:pb-12 overflow-scroll xl:overflow-hidden  {{if this.MobileFilter.filterState "hidden" "block bg-white"}}">
  <div class="md:container">
    <div class="flex justify-between items-center border-b pb-4">
      <h1 class="text-3xl text-gray-800">Filter</h1>
      <div class="flex">
        <button type="reset" {{on 'click' this.reset}}
          class=" text-gray-600 border px-3 text-md font-bold py-1 hover:bg-red-200 hover:border hover:text-red-900 anim">
          Reset</button>
        <button type="button" {{on 'click' this.MobileFilter.toggleFilter}}
          class="bg-gray-200 text-gray-900 text-base font-bold py-2 px-5 rounded block xl:hidden ml-3"><img
            src="/assets/vector/close.svg" alt="Black close icon"></button>

      </div>
    </div>

    <div class="mt-6">
      <h2 class="text-gray-600 py-2">Purpose</h2>
      <div class="flex flex-col pl-2 ">
        <label class="inline-flex items-center mt-3">
          <input type="radio" name="purpose" checked={{if (eq this.Purpose.buyRent 1) true }}
            {{on "change" (queue this.Price.resetBudget (set this.Purpose.buyRent 1) (fn @refetch "buyRent" 1)  ) }} class="h-5 w-5 text-gray-600 "><span
            class="ml-4 text-gray-500">For sale</span>
        </label>
        <label class="inline-flex items-center mt-3">
          <input type="radio" name="purpose" checked={{if (eq this.Purpose.buyRent 2) true }} 
            {{on "change" (queue  this.Price.resetBudget (set this.Purpose.buyRent 2) (fn @refetch "buyRent" 2) )}} class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">For
            rent</span>
        </label>

      </div>
    </div>

    {{!-- PRICE --}}

    <div class="mt-6">
      <h2 class="text-gray-600 py-3 flex items-end ">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><g/><path d="M15,18.5c-2.51,0-4.68-1.42-5.76-3.5H15l1-2H8.58c-0.05-0.33-0.08-0.66-0.08-1s0.03-0.67,0.08-1H15l1-2H9.24 C10.32,6.92,12.5,5.5,15,5.5c1.61,0,3.09,0.59,4.23,1.57L21,5.3C19.41,3.87,17.3,3,15,3c-3.92,0-7.24,2.51-8.48,6H3l-1,2h4.06 C6.02,11.33,6,11.66,6,12s0.02,0.67,0.06,1H3l-1,2h4.52c1.24,3.49,4.56,6,8.48,6c2.31,0,4.41-0.87,6-2.3l-1.78-1.77 C18.09,17.91,16.62,18.5,15,18.5z"/></g></svg>
       <span class="leading-tight"> Price </span></h2>

      <div class="flex justify-between items-center">
        <div class="relative flex-1">
        <PowerSelect
          @onChange={{this.Price.updateMinBudget}}
          @options={{if (eq this.Purpose.buyRent 1 ) this.Price.buyList this.Price.rentList}}
          @selected={{this.Price.minBudget}}
          @placeholder="min"
          as |price| >
          € {{price}}

        </PowerSelect>
        </div>

        <span class="text-gray-600 mx-2 leading-10" >to</span>
        <div class="relative flex-1">
          <PowerSelect
            @onChange={{this.Price.updateMaxBudget}}
            @options={{if (eq this.Purpose.buyRent 1 ) this.Price.buyList this.Price.rentList}}
            @selected={{this.Price.maxBudget}}
            @placeholder="max"
            as |price| >
            € {{price}}

          </PowerSelect>
        </div>
      </div>
    </div>

    <div class="mt-6">
            <h2 class="text-gray-600 py-2">Property Type</h2>
            <div class="flex flex-col pl-2 ">

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600 " value="1" @checked={{contains "1" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span class="ml-4 text-gray-500">Houses</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="2" @checked={{contains "2" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span class="ml-4 text-gray-500">Flats</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="3" @checked={{contains "3" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span class="ml-4 text-gray-500">Plots</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="4" @checked={{contains "4" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span class="ml-4 text-gray-500">Offices</span>
                </label>
                
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="5" @checked={{contains "5" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span class="ml-4 text-gray-500">Stores</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="6" @checked={{contains "6" this.Category.list}} {{on "change" this.Category.updateList }}/>
                    <span
                        class="ml-4 text-gray-500">Industrial</span>
                </label>

                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" class="h-5 w-5 text-gray-600" value="7" @checked={{contains "7" this.Category.list}} {{on "change" this.Category.updateList }} />
                    <span class="ml-4 text-gray-500">Garage & Parking lots</span>
                </label>

            </div>
        </div>

                <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 5h2V3c-1.1 0-2 .9-2 2zm0 8h2v-2H3v2zm4 8h2v-2H7v2zM3 9h2V7H3v2zm10-6h-2v2h2V3zm6 0v2h2c0-1.1-.9-2-2-2zM5 21v-2H3c0 1.1.9 2 2 2zm-2-4h2v-2H3v2zM9 3H7v2h2V3zm2 18h2v-2h-2v2zm8-8h2v-2h-2v2zm0 8c1.1 0 2-.9 2-2h-2v2zm0-12h2V7h-2v2zm0 8h2v-2h-2v2zm-4 4h2v-2h-2v2zm0-16h2V3h-2v2zM7 17h10V7H7v10zm2-8h6v6H9V9z"/></svg>
                <span class=""> Area </span>
            </h2>

            <div class="flex justify-start items-center">
                <div class=" py-3 px-2 rounded flex-1">
                    <Input type="range" min="10" max="300" step="10" class="w-full anim" @value={{this.Area.minArea }} {{on 'change' (fn @refetch 'minArea' this.Area.minArea)}}/>
                </div>
                <div class="b-gray py-2 px-3 rounded">> {{this.Area.minArea}} m² </div>
            </div>

        <div class="mt-6">
            <h2 class="text-gray-600 py-2">Region</h2>
            <div class="flex flex-col pl-2 ">
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" value="1" @checked={{contains "1" this.Region.list}} {{ on 'change' this.Region.regionLogic passive=true}} class="h-5 w-5 text-gray-600" />
                    <span class="ml-4 text-gray-500">Brussels</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" value="2" @checked={{contains "2" this.Region.list}} {{ on 'change' this.Region.regionLogic passive=true}} class="h-5 w-5 text-gray-600" />
                    <span class="ml-4 text-gray-500">Flemish Brabant</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" value="3" @checked={{contains "3" this.Region.list}} {{ on 'change' this.Region.regionLogic passive=true}} class="h-5 w-5 text-gray-600" />
                    <span class="ml-4 text-gray-500">Walloon Brabant</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox" value="4" @checked={{contains "4" this.Region.list}} {{ on 'change' this.Region.regionLogic passive=true}} class="h-5 w-5 text-gray-600" />
                    <span class="ml-4 text-gray-500">East Flanders</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <Input @type="checkbox"  value="5" @checked={{contains "5" this.Region.list}} {{ on 'change' this.Region.regionLogic passive=true}} class="h-5 w-5 text-gray-600" />
                    <span class="ml-4 text-gray-500">Other</span>
                </label>
            </div>
        </div>

        <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end mb-2"> 
              <svg id="bed" xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1" data-name="Group 1">
                  <rect id="Rectangle_11" data-name="Rectangle 11" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_2" data-name="Group 2" transform="translate(0 -1.4)">
                  <path id="Path_1" data-name="Path 1" d="M24,12.7a2.206,2.206,0,0,0-2.2-2.2V7.2A2.206,2.206,0,0,0,19.6,5H6.4A2.206,2.206,0,0,0,4.2,7.2v3.3A2.206,2.206,0,0,0,2,12.7v5.5H3.463L4.2,20.4H5.3l.737-2.2H19.974l.726,2.2h1.1l.737-2.2H24Zm-4.4-2.2H14.1V7.2h5.5ZM6.4,7.2h5.5v3.3H6.4ZM4.2,12.7H21.8V16H4.2Z" transform="translate(-1 5)"/>
                </g>
              </svg>     
              <span class="leading-none"> Bedrooms </span>
            </h2>
            <div class="flex justify-start">
                <div class=" w-2/3 flex items-center justify-between bg-white b-gray-alt rounded py-2 px-4">
                    <button type="button" {{ on 'click' (pipe (fn this.Bed.decrement) (fn @refetch "minBed" this.Bed.bedrooms)) }}
                        class="{{if this.Bed.minBed "opacity-25 cursor-not-allowed" }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 b-gray border-gray-900 text-gray-700 hover:bg-red-500 hover:text-white" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/></svg>
                    </button>
                    <div class="font-bold text-xl">
                        > {{this.Bed.bedrooms}}
                    </div>
                    <button type="button" {{ on 'click' (pipe (fn this.Bed.increment) (fn @refetch "minBed" this.Bed.bedrooms)) }}
                        class="{{if this.Bed.maxBed "opacity-25 cursor-not-allowed" }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 b-gray text-gray-700 hover:bg-blue-500 hover:text-white" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    </button>
                </div>
            </div>
        </div>


        <div class="mt-6">
            <h2 class="text-gray-600 py-3 flex items-end  mb-2">
              <svg id="bath" xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_3" data-name="Group 3">
                  <rect id="Rectangle_12" data-name="Rectangle 12" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_5" data-name="Group 5" transform="translate(0 -2)">
                  <g id="Group_4" data-name="Group 4">
                    <path id="Path_2" data-name="Path 2" d="M20,13V4.83a2.828,2.828,0,0,0-4.83-2L13.92,4.08A1.7,1.7,0,0,0,13.41,4a1.986,1.986,0,0,0-1.08.32l2.76,2.76A1.986,1.986,0,0,0,15.41,6a2.163,2.163,0,0,0-.07-.51l1.25-1.25A.827.827,0,0,1,18,4.83V13H11.15c.056.015-6.15,0-6.15,0H2v6a2.006,2.006,0,0,0,2,2,1,1,0,0,0,1,1H19a1,1,0,0,0,1-1,2.006,2.006,0,0,0,2-2V13Zm0,6H4V15H20Z" transform="translate(0 2)"/>
                  </g>
                </g>
              </svg>
              <span class="leading-none"> Bathrooms </span></h2>
            <div class="flex justify-start ">
                <div class=" w-2/3 flex items-center justify-between bg-white b-gray-alt rounded py-2 px-4">
                    <button type="button"  {{ on 'click' (pipe (fn this.Bath.decrement) (fn @refetch "minBath" this.Bath.bathrooms)) }}
                        class="{{if this.Bath.minBath "opacity-25 cursor-not-allowed" }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 b-gray text-gray-700 hover:bg-red-500 hover:text-white" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"/></svg>
                    </button>
                    <div class="font-bold text-xl">{{this.Bed.bathrooms}}
                        > {{this.Bath.bathrooms}}
                    </div>
                    <button type="button"  {{ on 'click' (pipe (fn this.Bath.increment) (fn @refetch "minBath" this.Bath.bathrooms)) }}
                        class="{{if this.Bath.maxBath "opacity-25 cursor-not-allowed" }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 b-gray text-gray-700 hover:bg-blue-500 hover:text-white" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    </button>
                </div>
            </div>
        </div>


                

        {{!-- <div class="mt-6">
            <h2 class="text-gray-600 pb-2">Options</h2>
            <div class="flex flex-col pl-2 ">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Garage</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span class="ml-4 text-gray-500">Garden</span>
                </label>
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" class="h-5 w-5 text-gray-600"><span
                        class="ml-4 text-gray-500">Furnished</span>
                </label>
            </div>


        </div> --}}
        </div>
  </div>

</section>

<div class="fixed w-full  bottom-0 container flex justify-center items-center xl:hidden z-50">
  <button type="button"
    class="z-50 md:w-1/3 md:rounded-full w-full mb-2 py-4 shadow-xl font-bold text-gray-100 rounded anim {{if this.MobileFilter.filterState "bg-red-600  " "bg-blue-600  "}}"
    {{on 'click' this.MobileFilter.toggleFilter}}>{{if this.MobileFilter.filterState "Filter" "Search"}}</button>
</div>