 <section class="w-full my-2 md:my-6 p-4 md:p-0">
      <div class="flex justify-between items-center">  
        <h2 class="font-bold py-6 text-gray-800"> {{ @meta.RowCount }} <span class="font-normal mx-1">{{t "search.results"}}</span> </h2>
          <div class="hidden md:block">
          {{!-- <Search::Pagination @nav={{this.Navigation}} @refetch={{this.invokeRefetch}}/> --}}
          </div>
          <div class="w-48 rounded-none">
            <PowerSelect
            @onChange={{fn this.invokeRefetch "order"}}
            @options={{this.orderList}}
            @selected={{find-by "value" this.selectedOrder this.orderList}}
            @placeholder="order"
            as |options| >
            {{options.name}}

            </PowerSelect>
            </div>
      </div>

      {{!-- Checks if there are any results  --}}
      {{#if (not-eq @estate.length 0)}}     


        <section class="grid lg:grid-cols-2 gap-5 sm:grid-cols-2 grid-cols-1">
          {{#each @estate as |data|}}

            {{!-- Component --}}
            <SingleEstate @item={{data}}/>
          {{/each}}
        </section>
        <div class="my-6">
          <Search::Pagination @nav={{this.Navigation}} @refetch={{this.invokeRefetch}}/>
        </div>


      {{else}}
          <div class="container my-12 py-10 flex flex-col justify-center items-center text-center md:w-2/3 rounded border">
            <svg class="w-10 h-10 text-red-600 mb-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
            <h1 class="font-bold text-2xl">{{t "search.found.title"}}</h1>
            <p class="font-bold text-gray-800 text-sm" >{{t "search.found.text"}}</p>
        </div>
      {{/if}}


  </section>