 <section class="w-full my-2 md:my-6 p-4 md:p-0">
      <div class="flex justify-between items-center">  
        <h2 class="font-bold py-6 text-gray-800"> {{ @meta.RowCount }} <span class="font-normal mx-1">search results </span> </h2>
          <div class="hidden md:block">
          {{!-- <Search::Pagination @nav={{this.Navigation}} @refetch={{this.invokeRefetch}}/> --}}
          </div>
          <div class="w-48 rounded-none">
            <PowerSelect
            @onChange={{fn this.invokeRefetch "order"}}
            @options={{this.orderList}}
            @selected={{find-by "value" this.selectedOrder this.orderList}}
            @placeholder="order"
            as |options| >
            {{options.name}}

            </PowerSelect>
            </div>
      </div>

      {{!-- Checks if there are any results  --}}
      {{#if (not-eq @estate.length 0)}}     


        <section class="grid lg:grid-cols-2 gap-5 sm:grid-cols-2 grid-cols-1">
          {{#each @estate as |data|}}

            {{!-- Component --}}
            <SingleEstate @item={{data}}/>
          {{/each}}
        </section>
        <div class="my-6">
          <Search::Pagination @nav={{this.Navigation}} @refetch={{this.invokeRefetch}}/>
        </div>


      {{else}}
          <div class="container mt-12 py-12 flex flex-col justify-center items-center text-center w-2/3 rounded b-gray">
            <h1 class="font-bold text-2xl">No results where found.</h1>
            <p class="font-bold text-gray-600" >Change the search criteria or click the reset button and try again.</p>
            <LinkTo type="reset" @route="search" @query={{null}}
                    class="bg-red-200 text-gray-900 text-base font-bold mt-4 py-2 px-5 w-1/4 rounded hover:bg-red-800 hover:text-white anim">Reset
                    filter</LinkTo>
        </div>
      {{/if}}


  </section>