<main class="bg-gray-100">
<div class="container flex-col  flex justify-center items-center relative py-12">
    <section class="flex flex-col items-center py-12 md:w-2/3">
        <h1 class="text-5xl text-center font-bold  ">Contact</h1>
        <p class="pb-10 text-center font-bold opacity-50">{{t "contact.text"}}</p>
           <form name="contact" action="#" method="POST" class="flex flex-col xl:w-2/3 p-3 xl:p-10 " >
                <input type="hidden" name="form-name" value="contact">

                <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        {{t "contact.form.name"}}<span class="text-red-700">*</span>
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-password" type="input" placeholder="">
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        {{t "contact.form.last"}}
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-password" type="password" placeholder="">
                    </label>
                </div>

                <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        {{t "contact.form.mail"}} <span class="text-red-700">*</span>
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-password" type="input" placeholder="">
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="grid-password">
                        {{t "contact.form.tel"}} 
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-password" type="password" placeholder="">
                    </label>
                </div>
                <div class="w-full flex ">

                </div>
                <label class="uppercase tracking-wide text-xs font-bold mb-4 flex-1">{{t "contact.form.message"}}
                    <textarea name="" id="" cols="30" rows="10"
                        class="appearance-none w-full mt-1  border border-gray-800 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </label>
                <label class="text-center m-auto pb-6 ">
                    <input type="checkbox" name="" id="" class="p-2"> {{t "contact.form.terms"}}
                </label>
                <input type="submit" value={{t "contact.form.send"}} class="py-4 bg-red-600 font-bold text-white cursor-pointer hover:bg-blue-600 anim">
            </form>
    </section>
    </div>
</main>

