{{!-- <Form::Dropdown/> --}}

<main class="bg-gray-100">
    <div class="container flex justify-center items-center relative py-12">
        <section class="flex flex-col justify-center items-center mt-6 xl:p-6 gap-10 xl:w-5/6 rounded ">
            <div class="xl:w-2/3 ">
                <h2 class="text-5xl font-bold py-2 text-center">{{t "estimation.title"}}</h2>
                <p class="xl:pb-4 font-bold text-sm opacity-50 text-center">{{t "estimation.text"}}</p>
            </div>
            <form name="estimation" method="POST" class="flex flex-col xl:w-2/3 p-3 xl:p-10 " data-netlify="true" >
                <input type="hidden" name="form-name" value="estimation">

                <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="name" >
                        {{t "estimation.form.name"}} <span class="text-red-700">*</span>
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="name" id="name" type="input" placeholder="" required>
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="lastname">
                        {{t "estimation.form.last"}}
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="lastname" id="lastname" type="password" placeholder="">
                    </label>
                </div>

                <div class="w-full flex gap-8">
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="email">
                        {{t "estimation.form.mail"}} <span class="text-red-700">*</span>
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="email" id="email" type="input" placeholder="" required>
                    </label>
                    <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="tel">
                        {{t "estimation.form.tel"}} 
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="tel" id="tel" type="tel" placeholder="">
                    </label>
                </div>
                <div class="w-full flex gap-8">
                   <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="type">
                        Type
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="type" id="type" type="text" placeholder={{t "estimation.form.typeholder"}}>
                    </label>
                     <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="regio">
                        {{t "estimation.form.city"}}
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="regio" id="regio" type="password" placeholder={{t "estimation.form.cityholder"}}>
                    </label>
                </div>
                <div class="w-full flex gap-8">
                   <label class=" uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="purpose">
                        {{t "estimation.form.purpose"}}
                        <input
                            class="appearance-none w-full border border-gray-800 mt-1  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            name="purpose" id="purpose" type="text" placeholder={{t "estimation.form.purposeholder"}}>
                    </label>
                </div>
                
                <label class="uppercase tracking-wide text-xs font-bold mb-4 flex-1" for="message">{{t "estimation.form.message"}}
                    <textarea name="message" id="message" cols="30" rows="10"
                        class="appearance-none w-full mt-1  border border-gray-800 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </label>
                <label class="text-center m-auto pb-6 " for="terms">
                    <input type="checkbox" name="terms" id="terms" class="p-2" required> {{t "estimation.form.terms"}} <span class="text-red-700">*</span>
                </label>
                <input type="submit" value={{t "estimation.form.send"}} class="py-4 bg-red-600 font-bold text-white cursor-pointer hover:bg-blue-600 anim">
            </form>
        </section>
    </div>
</main>