

{{#if @model}}
    
     <section class="container pt-6 pb-12">
          <h2 class="text-3xl font-bold py-6 text-gray-800">{{t "favorites.title"}}</h2>
     <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 sm:grid-cols-2 grid-cols-1">
         {{#each @model as |data|}}
            <SingleEstate @item={{data}}/>
              {{/each}}
        </section>
        
        </section>

    {{else }}

        <main class="container py-6 flex flex-col justify-center items-center text-center min-h">
            <h1 class="font-bold text-3xl">{{t "favorites.found.title"}}</h1>
            <p class="font-bold py-3 md:py-0 text-gray-600" >{{t "favorites.found.text"}}</p>
            <LinkTo @route="search" class="py-4 rounded bg-red-700 text-white w-full m-2 md:w-1/4 mt-6 hover:bg-blue-700 anim">
                <button type="button" class="font-bold" >{{t "favorites.found.button"}}</button>
            </LinkTo>

            <img class="mt-10 w-2/3" src="/assets/vector/favorite.svg" alt="Steps on how to save a property to my favorites">
        </main>

    {{/if}}

