<main>
    <Property::QuickNav @ref={{@model.data.[0].EstateID}}/>
    <Property::Main @estate={{@model.data.[0]}} @gps={{@model.gps}}/> 
    <Property::Side @estate={{@model}}/>
    <Property::Similar/>
    <div class="text-3xl">
    {{this.randomNumber}}
    </div>
</main>