<div class="bg-light-gray">
<main class="flex gap-0 md:gap-5 md:container ">

    {{!-- Component --}}
    <Search::filter @query={{this.myQuery}} @refetch={{this.updateParam}}/>
    {{!-- Checks if fetch is still loading --}}
    {{#if this.currentlyLoading}}
        <Search::Loading/>

    {{else}}

        {{!-- Checks if results are equal to 0 --}}
        <Search::Results @estate={{@model}}  @refetch={{this.updateParam}}/>

    {{/if}}
</main>

    {{!-- <button class="px-2 py-6 bg-light-gray border" {{on 'click' (fn this.updateBuyRent "2")}}>change buyrent</button> --}}
</div>